@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Cabin:wght@500&family=Hahmlet&family=Noto+Sans+KR&family=Oswald&family=Roboto&display=swap');
@font-face {
    font-family: "pretendard";
    src: url('../font/Pretendard-Regular.ttf');
}
*{
    list-style:none;
    text-decoration:none;
    border-collapse:collapse;
    padding:0rem;
    margin:0rem;
    color:#000;
}

/*top*/
.top_back{
    height:5.1rem;
    width:100%;
    position:fixed;
    top:0rem;
    background-color: #ffffff;
    border-bottom: 0.1rem solid #e1e1e1;
    /* z-index:3; */
}
.Top{
    display:flex;
    align-items:center;
    height: 5.0rem;
    width: 100%;
    margin:auto;
    position: fixed;
    z-index:3;
    top:0rem;
    backdrop-filter: blur(0.5rem);
}
.top_inner{
    display:flex;
    width:70rem;
    margin-left:calc((100% - 72.9rem)/2);
    margin-right:calc((100% - 72.9rem)/2);
}
.Homebutton{
    display:flex;
    margin-top:0.3rem;
    width: 11.5rem;
    height: 2.3rem;
    background-color: rgba(255, 255, 255,0.8);
    border-radius: 0.8rem;
    justify-content: center;
}
.Homebutton>a{
    display:flex;
    width: 11rem;
}
.Homebutton>a>img{
    height:2.0rem ;
    margin-left:0.1rem;
    margin-top:0.2rem;
}
.Homebutton>a>span{
    font-family: 'Cabin', sans-serif;
    font-size: 2rem;
    margin-left: 0.2rem;
    color:#284dae;
}
#check-btn { display: none; }
.hide_mark{
    display: none;
}
.popup{
    display:none;
}
.nav{
    display: flex;
    font-size:x-large;
    width:calc(100% - 11.2rem);
    justify-content: flex-end;
}
.nav>li{
    margin-right: 1rem;
}
.nav>li>a{
    display:block;
    width:8rem;
    height:2.0rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    text-align: center;
    margin-top:0.4rem;
    
    font-family: pretendard;
    background-color: rgba(235, 235, 235,0.0);
    color:#289dae
}
.nav>li>a:hover{
    background-color: #284dae;
    color:white;
}

/*main*/
.Main{
    height: 100%;
    width: 100%;
    margin:auto;
    margin-top: 5rem;
}
.Background{
    height: 44.52rem;
    width:100%;
}
.info_back{
    display:flex;
    margin:auto;
    margin-top:5rem;
    width:80%;
    height:35rem;
    white-space: pre-wrap;
}
.info_text{
    width:35%;
    height: 100%;
}
.info_title{
    width:100%;
    height:13rem;
    font-size:4rem;
    font-family: 'Black Han Sans', sans-serif;
    color:#284dae;
}
.info_te{
    width:100%;
    height:16rem;
    font-size:2rem;
    font-family: 'Hahmlet', serif;
}
.info_ex{
    width:65%;
    height:100%;
    margin-left:4rem;
    margin-top:5rem;
    font-size:1rem;
    font-family: 'Hahmlet', serif;
}
.info{
    width:100%;
    display:flex;
    margin-top:5rem;
    background-color: rgba(235, 235, 235,0.5);
}
.footer{
    background-color: #284dae;
    height: 10rem;
    margin-bottom: 0%;
}
.footer_inner{
    width:90%;
    height: 8rem;
    padding-top:2rem;
    margin:auto;
    font-family: 'Noto Sans KR', sans-serif;
}
.creator{
    color:white;
}
.footer_inner>a{
    display:flex;
    position:relative;
    top:3rem;
    left:87%;
    width:11rem;
    background-color: #e1e1e1;
    border-radius: 0.7rem;
}
.footer_inner>a>img{
    height:2.0rem ;
    margin-left:0.3rem;
    margin-top:0.2rem;
}
.footer_inner>a>span{
    font-family: 'Cabin', sans-serif;
    font-size: 2rem;
    margin-top: 0.1rem;
    margin-left: 0.2rem;
    color:#284dae;
}